.slider__list {
  width: 840px;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.slider__toggle {
  display: none;
}

.slider__toggles {
  text-align: center;
}

.slider__label {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #dadcdf;
  margin: 0 7px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.price__slider1:checked ~ .slider__label[for="price-slider1"] {
  box-shadow: 0 0 0 3px #000000;
  background-color: #ffffff;
}

.price__slider2:checked ~ .slider__label[for="price-slider2"] {
  box-shadow: 0 0 0 3px #000000;
  background-color: #ffffff;
}

.price__slider3:checked ~ .slider__label[for="price-slider3"] {
  box-shadow: 0 0 0 3px #000000;
  background-color: #ffffff;
}

.price__slider1:checked ~ .price-list {
  transform: translate(0);
}

.price__slider2:checked ~ .price-list {
  transform: translate(-280px);
}

.price__slider3:checked ~ .price-list {
  transform: translate(-560px);
}

.reviews__slider1:checked ~ .slider__label[for="reviews-slider1"] {
  box-shadow: 0 0 0 3px #000000;
  background-color: #ffffff;
}

.reviews__slider2:checked ~ .slider__label[for="reviews-slider2"] {
  box-shadow: 0 0 0 3px #000000;
  background-color: #ffffff;
}

.reviews__slider3:checked ~ .slider__label[for="reviews-slider3"] {
  box-shadow: 0 0 0 3px #000000;
  background-color: #ffffff;
}

.reviews__slider1:checked ~ .reviews__list {
  transform: translate(0);
}

.reviews__slider2:checked ~ .reviews__list {
  transform: translate(-280px);
}

.reviews__slider3:checked ~ .reviews__list {
  transform: translate(-560px);
}
