@import "css/normalize.css";
@import "visually-hidden.scss";
@import "slider.scss";
@import "var.scss";
@import "blocks/checks.scss";
@import "blocks/contacts.scss";
@import "blocks/contest-form.scss";
@import "blocks/download-list.scss";
@import "blocks/main-nav.scss";
@import "blocks/map.scss";
@import "blocks/my-photo.scss";
@import "blocks/offer.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/positive-traits.scss";
@import "blocks/price.scss";
@import "blocks/radio-list.scss";
@import "blocks/reviews.scss";
@import "blocks/social.scss";
@import "blocks/window-modal.scss";

body {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  background-color: #ffffff;
}

.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border: 4px solid;
}
