$darkblue: #283645;
$rose: #d22856;
$gray: #949aa1;
$lightgray: #f2f2f2;
$ligtergray: #e5e5e5;
$darkwhite: #e9ebec;
$darkgray: #485461;
$darkengray: #dddfe0;
$white: #ffffff;
$black: #000000;
$green: #2aab6d;
$tablet-width: 660px;
$desktop-width: 1200px;
