.checks__label {
  padding:  0 0 52px 55px;
  font-size: 18px;
  line-height: 30px;
  color: $darkblue;

  &:last-child {
    padding-bottom: 38px;
    margin-bottom: 12px;
  }
}

.checks__input {
  position: relative;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    background-image: url("../img/");
  }
}
