.checks__label {
  position: relative;
  padding: 0 0 52px 55px;
  font-size: 18px;
  line-height: 30px;
  color: $darkblue;

  &:last-child {
    padding-bottom: 38px;
    margin-bottom: 12px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 35px;
    height: 35px;
    top: -5px;
    left: -10px;
    background-color: $white;
    border: 2px solid $ligtergray;
  }

  &::after {
    display: none;
    width: 7px;
    height: 20px;
    top: 0;
    left: 5px;
    border: 2px solid $rose;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
  }
}

.checks__input {
  display: none;
}

.checks__input:checked + .checks__label::after {
  display: block;
}
