.contest-form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 110px;
    padding: 15px 0;
  }
}

.contest-form .container {
  @media (min-width: $tablet-width) {
    width: 620px;
    background-color: $white;
  }

  &--info {
    background-color: $white;

    @media (min-width: $tablet-width) {
      order: 3;
    }

    @media (min-width: $desktop-width) {
      width: 980px;
      margin: 0;
      padding: 0;
    }
  }

  &--area {
    background-color: $white;

    @media (min-width: $desktop-width) {
      width: 940px;
    }
  }

  &--radio {
    @media (min-width: $tablet-width) {
      order: 2;
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 440px;
    }
  }

  &--checks {
    @media (min-width: $desktop-width) {
      width: 100%;
      margin-bottom: 7px;
    }
  }

  &:nth-of-type(1) {
    @media (min-width: $tablet-width) {
      order: 4;
    }
  }

  &:nth-of-type(4) {
    @media (min-width: $tablet-width) {
      order: 5;
    }
  }
}

.contest-form .flex-container {
  &--tablet {
    margin: 0 20px;
    padding: 0;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      order: 6;
      margin: 67px 20px 50px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin: 67px 20px 44px;
    }
  }

  &--box {
    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 60px 0 55px;
    }
  }
}

.contest-form__label {
  display: block;
  margin: 0 20px 5px;
  font-size: 14px;
  line-height: 2.143;
  text-align: left;
  color: $rose;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 20px 20px 20px 10px;
  }
}

.contest-form__wrapper {
  margin-bottom: 15px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }

  &:not(.without) {
    @media (min-width: $tablet-width) {
      background-color: $white;
      border: 2px solid $ligtergray;
      margin-bottom: 0;
    }
  }

  &--info {
    padding-top: 17px;
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin: -49px 0 18px;
      padding: 47px 57px 0;
    }

    @media (min-width: $desktop-width) {
      margin: -46px 20px 0;
      padding: 43px 57px 0;
    }
  }

  &--area {
    margin-bottom: 20px;
    padding-top: 0;

    @media (min-width: $tablet-width) {
      margin: -26px 0 70px;
      padding: 46px 60px 44px;
    }

    @media (min-width: $desktop-width) {
      padding: 42px 60px 33px;
      margin-top: -23px;
      min-height: 215px;
      box-sizing: border-box;
    }
  }

  &.without {
    @media (min-width: $tablet-width) {
      order: 1;
      padding: 0 10px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 24px 10px 0;
    }
  }

  /*&:nth-of-type(2) {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &:nth-of-type(3) {
    @media (min-width: $tablet-width) {
      order: 5;
    }
  }*/
}

.contest-form__wrapper--info .contest-form__label {
  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0 0 27px 20px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.contest-form__wrapper--info .contest-form__input--text {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 0 10px;
  }
}

.contest-form__wrapper--info .flex-container {
  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 377px;
  }
}

.contest-form__wrapper-name {
  display: inline-block;
  margin: 0;
  padding: 40px 15px;
  font-size: 14px;
  line-height: 18px;
  color: $rose;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  &--area {
    padding: 38px 15px 40px;

    @media (max-width: 659px) {
      margin: 0;
      padding: 10px 0 0;
    }

    @media (min-width: $tablet-width) {
      padding: 57px 15px 17px;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 15px 16px;
    }
  }

  &--tablet {
    display: none;
    padding: 39px 15px;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }

    @media (min-width: $desktop-width) {
      padding: 8px 15px 32px;
    }
  }

  &--radio {
    padding-top: 38px;
    padding-bottom: 47px;

    @media (min-width: $tablet-width) {
      padding: 10px 15px 93px;
    }
  }

  &--checks {
    @media (min-width: $tablet-width) {
      padding: 54px 15px 33px;
    }
  }
}

.contest-form__input {
  width: 280px;
  border: 2px solid $ligtergray;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  &--text {
    margin: 0 0 17px;
    padding: 10px 20px;
    height: 64px;

    @media (min-width: $tablet-width) {
      margin: 0 10px 50px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 10px 50px 0;
    }
  }

  &--area {
    min-height: 200px;
    margin: 11px 0 15px;
    padding: 15px 18px 18px;
    resize: none;
    overflow: auto;
    font-size: 18px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 500px;
      min-height: 190px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      min-height: 127px;
    }
  }

  &::placeholder {
    font-size: 18px;
    line-height: 1.667;
    color: $darkblue;
  }
}

.contest-form__button {
  margin: 0 0 36px;
  padding: 16px 45px 17px;
  max-width: 280px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 16px 57px 17px;
    margin: 0;
    max-width: 300px;
    order: 6;
  }
}

.contest-form__text {
  margin: 0 0 55px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin: 0;
    order: 7;
  }

  &--star {
    color: $rose;
  }
}
/*
@media (min-width: $tablet-width) {
  .contest-form__wrapper:nth-of-type(1) {
    order: 1;
  }

  .container:nth-of-type(1) {
    order: 4;
  }

  .contest-form__wrapper:nth-of-type(2) {
    order: 3;
  }

  .container:nth-of-type(2) {
    order: 2;
  }

  .contest-form__wrapper:nth-of-type(3) {
    order: 5;
  }

  .contest-form__button {
    order: 6;
  }

  .container {
    background-color: $white;
  }

  .contest-form__text {
    order: 7;
  }
}*/
/*крнтейнеру дать модификатор*/
.contest-form__wrapper-desktop {
  margin: 0;
  padding: 7px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    padding: 0;
  }
}

.contest-form__hidden-text {
  @media (max-width: 1199px) {
    display: none;
  }
}

.contest-form__box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    max-width: 260px;
  }
}

.contest-form__box--info {
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contest-form__box .checks__label--last {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }
}
/*
.contest-form__box--info .contest-form__input--text {
  @media (min-width: $tablet-width) {
    &[type="tel"] {
      background: url("../img/icon-phone.svg") no-repeat 95% center;
    }

    &[type="email"] {
      background: url("../img/icon-mail.svg") no-repeat 95% center;
    }
  }
}
*/
.contest-form__box--info .contest-form__label {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      bottom: 42px;
      right: 0;
      background: $ligtergray url("../img/icon-phone.svg") no-repeat center center;
    }
  }

  &--address {
    @media (min-width: $tablet-width) {
      &::after {
        background: $ligtergray url("../img/icon-mail.svg") no-repeat center center;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 95%;
  }
}
