.main-nav {
  &--index {
    /*margin-bottom: 435px;

    @media (min-width: $tablet-width) {
      margin-bottom: 95px;
    }*/
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 0 130px;
    /*margin-bottom: 110px;*/
    box-sizing: border-box;
  }
}

.main-nav__list {
  position: relative;
  background-color: $darkblue;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav__logo {
  margin: auto;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      margin: auto;
      margin-right: 0;
    }
  }
}

.main-nav__logo-wrapper {
  position: relative;
  display: flex;
  padding: 22px 20px 15px;
  border-bottom: 1px solid $black;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 26px 20px 42px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-left: 0;
  }
}

.main-nav__item {
  padding: 14px 20px 15px;
  border-bottom: 1px solid $black;
  border-top: 1px solid $darkgray;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 40px;
    border: none;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }
}

.main-nav__item-href {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: $white;
    text-decoration: none;
    text-transform: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  border: none;

  &--open {
    width: 50px;
    height: 24px;
    background: transparent url("../img/icon-menu-burger.svg") no-repeat;
  }

  &--close {
    width: 24px;
    height: 32px;
    background: transparent url("../img/icon-menu-cross.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@media (max-width: 1199px) {
  .main-nav__list--close .main-nav__item,
  .main-nav__logo-wrapper--close .main-nav__toggle--close {
    display: none;
  }

  .main-nav__logo-wrapper--close {
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__logo-wrapper--open {
    background-color: $darkblue;
  }

  .main-nav__list--open .main-nav__item {
    display: block;
  }

  .main-nav__logo-wrapper--open .main-nav__toggle--open {
    display: none;
  }

  .main-nav__logo-wrapper--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__list--nojs .main-nav__item {
    display: block;
  }
}
