.main-nav {
  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 0 130px;
    box-sizing: border-box;
  }
}

.main-nav__list {
  position: relative;
  background-color: $darkblue;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: transparent;
  }
}

.main-nav__logo {
  margin: auto;
  margin-right: 0;
}

.main-nav__logo-svg {
  width: 75px;
  height: 20px;
  fill: $white;

  &:hover,
  &:focus {
    fill: $rose;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 147px;
    height: 40px;
  }

  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    @media (max-width: 659px), (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (max-width: 1199px) {
      display: none;
    }
  }
}

.main-nav__logo-wrapper {
  position: relative;
  display: flex;
  padding: 22px 20px 15px;
  border-bottom: 1px solid $black;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 26px 20px 34px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-left: 0;
  }
}

.main-nav__item {
  padding: 15px 20px 5px;
  border-bottom: 1px solid $black;
  border-top: 1px solid $darkgray;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 40px;
    border: none;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }
}

.main-nav__item-href {
  display: inline-block;
  padding-bottom: 10px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: $white;
    text-decoration: none;
    text-transform: none;
  }

  &:hover,
  &:focus {
    color: $rose;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);

    @media (min-width: $desktop-width) {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--current {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover svg,
  &:focus svg {
    fill: $rose;
    outline: none;
  }

  &:active svg {
    fill: rgba(210, 40, 86, 0.3);
  }
}

.main-nav__toggle svg {
  fill: $white;
}

@media (max-width: 1199px) {
  .main-nav__list--close .main-nav__item,
  .main-nav__logo-wrapper--close .main-nav__toggle-close {
    display: none;
  }

  .main-nav__logo-wrapper--close {
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__logo-wrapper--open {
    background-color: $darkblue;
  }

  .main-nav__list--open .main-nav__item {
    display: block;
  }

  .main-nav__logo-wrapper--open .main-nav__toggle-open {
    display: none;
  }

  .main-nav__logo-wrapper--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav__list--nojs .main-nav__item {
    display: block;
  }

  .main-nav__logo-wrapper--nojs {
    background-color: $darkblue;
  }
}
