.offer {
  position: relative;
  padding: 5px 15px 30px;

  @media (min-width: $desktop-width) {
    padding: 5px 15px 49px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 40px;
    background: transparent url("../img/bg-triangle-white.svg") no-repeat;
    background-size: contain;
    bottom: -40px;
    left: 0;
  }
}

.offer__text {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  color: $darkblue;
  text-align: center;
  margin: 15px 0 0;
  padding: 10px 15px 5px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 1.2;
    padding: 0;

    &::after {
      position: absolute;
      content: "";
      width: 660px;
      height: 50px;
      background: transparent url("../img/bg-triangle-white.svg") no-repeat;
      background-size: contain;
      bottom: -50px;/*!!!!!!!!!!!!*/
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 35px 0 0;
    font-size: 50px;

    &::after {
      width: 1200px;
      height: 90px;
      bottom: -90px;/*!!!!!!!!!!!!*/
      left: 0;
    }
  }

  &--tablet {
    @media (min-width: $tablet-width) {
      margin: 0 100px 15px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 300px 30px;
    }
  }
}
