.page-main {
  background-color: $white;
}

.page-main__title-form {
  margin: -5px 0 30px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0 85px;/*!!!!!!!!!!!!*/
    font-size: 18px;
    line-height: 1.667;
  }

  @media (min-width: $desktop-width) {
    padding: 0 215px 70px;/*!!!!!!!!!!!!*/
  }
}

.page-main__title-form--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding: 0 75px 65px;/*!!!!!!!!!!!!*/
    font-size: 18px;
    line-height: 1.667;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    padding: 0;
  }
}

.page-main__text {
  margin: 47px 0 0 0;
  padding: 50px 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
    padding: 0 85px;/*!!!!!!!!!!!!*/
    font-size: 18px;
    line-height: 1.667;
  }
}

.page-main__cite {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $darkblue;
  font-style: normal;
}

.page-main__blockquote {
  margin: 0;
  padding: 5px 20px 10px 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 15px 20px 10px 30px;
  }
}

.page-main__blockquote-wrapper {
  position: relative;
  margin: -10px 20px 0;
  padding: 10px 0 0;
  background-color: $lightgray;

  &::before {
    position: absolute;
    top: -137px;
    right: 0;
    padding: 6px 20px;
    content: "Панорама дня";
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: $white;
    text-transform: uppercase;
    background-color: $rose;
  }
}

.page-main__photo {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.page-main__photo-item {
  padding: 0;
  margin: 0 20px 22px;
  background-color: $lightgray;

  &:not(:first-child) {
    @media (min-width: $tablet-width) {
      width: 45.45%;
      box-sizing: border-box;
    }
  }

  &:first-child {
    margin: 0 0 22px 0;
    background-color: transparent;

    &:first-child .page-main__photography {
      @media (min-width: $tablet-width) {
        width: 100%;
        height: 510px;
      }
    }
  }

  &:nth-child(2n) {
    @media (min-width: $tablet-width) {
      margin: 0 10px 20px 20px;
    }
  }

  &:not(:first-child):nth-child(2n + 1) {
    @media (min-width: $tablet-width) {
      margin: 0 20px 20px 10px;
    }
  }
}

.page-main__photo-time {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
  text-transform: uppercase;
}

.page-main__photo-text {
  margin: -6px 0 0;
  padding: 0;
  line-height: 24px;
}

.page-main__photo-like {
  display: inline-block;
  position: relative;
  margin: 0 40px 17px -50px;
  font-size: 12px;
  line-height: 24px;
  color: $rose;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    bottom: 100px;
    left: 250px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -30px;
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}

.page-main__my-photo-text {
  margin: 0;
  padding: 22px 15px 42px;
  font-size: 14px;
  line-height: 2.143;
  color: $darkblue;

  @media (min-width: $tablet-width) {
    padding: 45px 15px 70px;
    font-size: 18px;
    line-height: 1.667;
  }
}

.page-main__effect {
  display: none;
  margin: 0 20px 55px 330px;/*!!!!!!!!!!!!!!!*/
  padding: 70px 0;
  background: url("../img/..") no-repeat;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 70px 120px 180px 500px;/*!!!!!!!!!!!!!!!*/
    background-color: $lightgray;
  }
}

.page-main__effect-title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 1.2;
  color: $black;

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.page-main__effect-24 {
  display: block;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.page-main__effect-text {
  margin: 0;
  padding: 0 14px 5px 0;
  line-height: 1.75;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 1.667;
    margin-bottom: 20px;
  }
}

.page-main__effect-href {
  padding: 0;
  color: $rose;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 1.667;
  }
}
