.page-header {
  background: $darkblue url("../img/bg-back-mobile@1x.jpg") no-repeat center top;

  &--index {
    background-image: url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 39.5%, center top;

    @media (min-width: $tablet-width) {
      background-image: url("../img/iphone-6 copy.png"),
        url("../img/bg-back-mobile@1x.jpg");
      background-position: left 100%, center top;
    }

    @media (min-width: $desktop-width) {
      background-size: auto, cover;
      background-position: 55% bottom, center top;
    }
  }

  @media (min-width: $desktop-width) {
    background-size: cover;
  }
}

.page-header__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto 43px 50px;
    padding: 0;
    max-width: 205px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    color: $white;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 1.2;
    max-width: 240px;
    margin: 0 auto 65px 30px;
  }
}

.page-header__text-download {
  padding: 0 40px 31px;
  margin-top: -7px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 10px 0 20px;
    font-size: 18px;
    line-height: 1.333;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 124px;
  }
}

.page-header__title {
  margin: 0;
  padding: 30px 75px 81px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.21;
  font-weight: normal;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 40px 0 90px;/*!!!!!!!*/
    padding: 30px 75px 140px;/*!!!!!!!1*/
    font-size: 50px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    margin: -45px 300px 90px;/*!!!!!!!*/
    padding: 0 75px 100px;
  }

  &--text {
    margin: 0 0 50px;
    padding: 30px 25px 53px;

    @media (min-width: $tablet-width) {
      margin: 40px 0 97px;/*!!!!!!!*/
      padding-bottom: 79px;/*!!!!!!!1*/
      font-size: 50px;
      line-height: 1.2;
    }

    @media (min-width: $desktop-width) {
      margin: -75px 200px 97px;
      padding-bottom: 99px;/*!!!!!!!1*/
    }
  }
}

.page-header__wrapper {
  position: relative;
  /*margin: 437px 0 0;/*!!!!!!!!!!!*/
  padding: 0;
  font: inherit;
  /*background-color: $darkblue;*/
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 20px 30px;
    padding-bottom: 70px;/*!!!!!!!!!!!*/
    max-width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 130px 30px;
    padding: 0;
  }
}

.page-header__button {
  padding: 12px 40px;
  color: $white;
  text-decoration: none;
  border-radius: 35px;

  @media (min-width: $tablet-width) {
    padding: 12px 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 0.857;
    padding: 10px 25px;
  }
}

.page-header__desktop-wrap {
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    background-color: rgba(31, 40, 52, 0.3);
  }
}
