.page-header {
  position: relative;
}

.page-header__bg {
  margin: -70px 0 0;
  padding: 70px 0 0;
  background: $darkblue url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  z-index: 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  @media (min-width: $tablet-width) {
    margin: -110px 0 0;
    padding: 110px 0 0;
    background: $darkblue url("../img/bg-back-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    background: $darkblue url("../img/bg-back-desktop@1x.jpg") no-repeat center top;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  &--index {
    position: relative;
    padding: 507px 0 0;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: $darkblue;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 700px auto;
    }

    @media (min-width: $tablet-width) {
      padding: 202px 0 0;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-position: center bottom;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 1200px auto;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 218px 0 0;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-position: center bottom;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }
}

.page-header__wrapper::after {
  position: absolute;
  content: "";
  top: -325px;
  left: 0;
  width: 258px;
  height: 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  z-index: -1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }

  @media (min-width: $tablet-width) {
    width: 640px;
    height: 545px;
    top: -20px;
    left: 0;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: auto;
    background-position-x: -40px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 645px;
    top: -9px;
    left: 56px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }
}

.page-header__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto 43px 50px;
    padding: 0;
    max-width: 205px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    color: $white;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 1.2;
    max-width: 240px;
    margin: 0 auto 65px 30px;
  }
}

.page-header__text-download {
  padding: 0 40px 31px;
  margin-top: -7px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 10px 0 20px;
    font-size: 18px;
    line-height: 1.333;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 125px;
  }
}

.page-header__title {
  margin: 0;
  padding: 33px 75px 81px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.21;
  font-weight: normal;
  color: $white;

  @media (min-width: $tablet-width) {
    margin: 40px 0 43px;
    padding: 28px 75px 140px;
    font-size: 50px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto 44px;
    padding: 64px 375px 100px;
    box-sizing: border-box;
  }

  &--text {
    margin: 0 0 50px;
    padding: 31px 25px 54px;

    @media (min-width: $tablet-width) {
      margin: 40px 0 97px;
      padding: 26px 25px 82px;
      font-size: 50px;
      line-height: 1.2;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto 97px;
      padding: 63px 225px 101px;
    }
  }
}

.page-header__wrapper {
  position: relative;
  padding: 0;
  font: inherit;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 20px 30px;
    padding-bottom: 70px;
    max-width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 130px 30px;
    padding: 0;
  }
}

.page-header__button {
  padding: 12px 40px;
  color: $white;
  text-decoration: none;
  border-radius: 35px;

  @media (min-width: $tablet-width) {
    padding: 12px 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 0.857;
    padding: 10px 25px;
  }

  &:hover,
  &:focus {
    background-color: $white;
    color: $rose;
    border-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.page-header__desktop-wrap {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
