.page-header {
  background-color: $darkblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: 0;
}

.page-header--index {
  background-color: $darkblue;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: 62%, 0;
}

.page-header__text {
  padding: 0 40px 27px;
  font-family: "Open Sans Light";
  font-size: 14px;
  line-height: 24px;
  color: $white;
}

.page-header__title {
  margin: 0;
  padding: 30px 75px;
  font-family: "Open Sans Light";
  font-size: 24px;
  line-height: 1.21;
  font-weight: normal;
  color: $white;

  &--text {
    margin: 0 0 50px;
    padding: 30px 25px 53px;
  }
}
