.page-main {
  background-color: $white;

  &__title-form {
    margin: -5px 0 30px;
    padding: 0 20px;
  }
}

.page-main__text {
  margin: 47px 0 0 0;
  padding: 50px 35px;
}

.page-main__cite {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $darkblue;
  font-style: normal;
}

.page-main__blockquote {
  margin: 0;
  padding: 5px 20px 10px 20px;
  text-align: left;
}

.page-main__blockquote-wrapper {
  position: relative;
  margin: -10px 20px 0;
  padding: 10px 0 0;
  background-color: $lightgray;

  &::before {
    position: absolute;
    top: -137px;
    right: 0;
    padding: 6px 20px;
    content: "Панорама дня";
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: $white;
    text-transform: uppercase;
    background-color: $rose;
  }
}

.page-main__photo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-main__photo-item {
  padding: 0;
  margin: 0 20px 22px;
  background-color: $lightgray;

  &:first-child {
    margin: 0 0 22px;
    background-color: transparent;
  }
}

.page-main__photo-time {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
  text-transform: uppercase;
}

.page-main__photo-text {
  margin: -6px 0 0;
  padding: 0;
  line-height: 24px;
}

.page-main__photo-like {
  display: inline-block;
  position: relative;
  margin: 0 40px 17px -50px;
  font-size: 12px;
  line-height: 24px;
  color: $rose;
  text-transform: uppercase;
  text-align: left;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -30px;
    width: 13px;
    height: 12px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}

.page-main__my-photo-text {
  margin: 0;
  padding: 22px 15px 42px;
  font-size: 14px;
  line-height: 2.143;
  color: $darkblue;
}

.page-main__effect {
  display: none;
  margin: 0 20px 75px 330px;/*!!!!!!!!!!!!!!!*/
  padding: 70px 0;
  background: url("../img/..") no-repeat;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-main__effect-title {
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 1.2;
  color: $black;
  font-family: "Open Sans Bold", "Arial", sans-serif;
}

.page-main__effect-text {
  margin: 0;
  padding: 0 14px 10px 0;
  line-height: 1.75;
}

.page-main__effect-href {
  padding: 0;
  color: $rose;
}
