.positive-traits {
  position: relative;
  margin: 0;
  padding: 48px 33px 355px;
  text-align: center;
  background: $lightgray url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position-x: 50%;
  background-position-y: 95%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: $tablet-width) {
    padding: 0 15px;
    display: flex;
    text-align: left;
    background: $lightgray;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 0;
    text-align: center;
    background: $lightgray;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    border-left: 320px solid $white;
    border-bottom: 31px solid $lightgray;
    z-index: 2;

    @media (min-width: $tablet-width) {
      top: 0;
      border-left: 660px solid $white;
      border-bottom: 47px solid $lightgray;
    }

    @media (min-width: $desktop-width) {
      top: -1px;
      z-index: 1;
      border-left: 100vw solid $white;
      border-bottom: 8vw solid transparent;
    }
  }
}

.contain-desktop--traits {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    padding-top: 78px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    background-position: 6px 4px;
    z-index: 3;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    background: none;
  }
}

.positive-traits .caption {
  @media (min-width: $desktop-width) {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
  }
}

.positive-traits__list {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    max-width: 315px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 880px;
    margin: 0 auto;
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
  }
}

.positive-traits__item {
  margin-bottom: 30px;

  &:last-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 240px;
    position: relative;
    padding-top: 356px;
    background-repeat: no-repeat;
    background-position: center top;

    &:first-child {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &:nth-child(2) {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &:nth-child(3) {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }
}

.positive-traits__text {
  font-size: 14px;
  line-height: 1.75;
  color: $darkblue;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 1.667;
    margin-top: 25px;
  }
}

.positive-traits .contain-desktop {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
