.positive-traits {
  margin: 0;
  padding: 78px 33px 350px;
  text-align: center;
  background: $lightgray url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position-x: 50%;
  background-position-y: 95%;
}

.positive-traits__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.positive-traits__item {
  margin-bottom: 40px;
}

.positive-traits__text {
  font-size: 14px;
  line-height: 1.5;
  color: $darkblue;
}

.caption {
  margin: 0;
  font-size: 18px;
  line-height: 1.333;
  color: $black;
  font-weight: bold;
}
