.price {
  margin-top: -95px;
  padding-top: 24px;
  background-color: $lightgray;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    margin-top: -22px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -25px;
  }
}

.price-list {
  margin: 5px 0 30px;
  border-collapse: collapse;
  width: 840px;
  box-sizing: border-box;
  transform: translate(-260px);

  @media (min-width: $tablet-width) {
    margin: 50px 20px 70px;
    width: 620px;
    box-sizing: border-box;
    transform: translate(0);
  }

  @media (min-width: $desktop-width) {
    margin: 120px 130px 100px;
    max-width: 940px;
  }
}

.price-list tr > *:first-child {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 60px 15px 20px;
    font-size: 18px;
    line-height: 1.667;
  }
}

.price-list__header {
  margin: 0;
  padding: 16px 75px 20px;
  max-width: 280px;
  background-color: $darkblue;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  border: 2px solid $ligtergray;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 15px 20px 10px;
    font-size: 16px;
    line-height: 1.7;
    min-width: 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 65px;
    font-size: 18px;
    line-height: 1.55;
    min-width: 235px;
  }

  &--usd {
    padding: 0;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: normal;
    background-color: transparent;
    white-space: nowrap;
    border: none;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
    }
  }

  &--hit {
    position: relative;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 75px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-hit-tablet.svg");
      background-size: 60px;
      z-index: 2;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-hit.svg");
      background-size: 72px;
    }

    &::after {
      position: absolute;
      content: "Хит";
      top: 15px;
      left: 10px;
      font-family: "Open Sans Light", "Arial", sans-serif;
      font-size: 16px;
      line-height: 18px;
      background-size: 75px;
      transform: rotate(-45deg);

      @media (min-width: $tablet-width) {
        top: 10px;
        left: 5px;
        font-size: 14px;
        line-height: 16px;
        background-size: 60px;
        z-index: 3;
      }

      @media (min-width: $desktop-width) {
        top: 18px;
        left: 12px;
      }
    }
  }

  &--null {
    background-color: transparent;
    border: none;
  }
}

.price-list__point {
  padding: 14px 70px 14px 20px;
  font-size: 14px;
  line-height: 30px;
  color: $darkblue;
  text-transform: uppercase;
  text-align: left;
  border: 2px solid $ligtergray;
  background-repeat: no-repeat;
  background-size: 11%;
  background-position: 93% center;

  @media (min-width: $tablet-width) {
    padding: 7px 23px 7px 15px;
    white-space: nowrap;
    text-transform: none;
    background-repeat: no-repeat;
    background-size: 18%;
    background-position: 50% center;
  }

  @media (min-width: $desktop-width) {
    background-size: 12%;
  }

  &--have {
    background-image: url("../img/icon-yes.svg");
  }

  &--havent {
    background-image: url("../img/icon-no.svg");
  }
}

.price__wrapper {
  margin: 0;
  padding: 58px 0 0 0;
}

.price__toggles {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price-list tr > td:nth-child(n + 2) {
  @media (min-width: $tablet-width) {
    font-size: 0;
  }
}
