.price {
  background-color: $lightgray;
}

.price-list {
  border-collapse: collapse;
  margin-bottom: 100px;
}

.price-list__header {
  margin: 0;
  padding: 20px 110px;
  width: 280px;
  background-color: $darkblue;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
}

.price-list__header--hit {
  background-image: url("../img/bg-hit-tablet.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.price-list__point {
  padding: 15px 70px 15px 20px;
  font-size: 14px;
  line-height: 30px;
  color: $darkblue;
  text-transform: uppercase;
  text-align: left;
  border: 2px solid $ligtergray;
  background-repeat: no-repeat;
  background-size: 31px 21px;
  background-position: 90% center;
}
.price-list__point--have {
  background-image: url("../img/icon-yes.svg");
}

.price-list__point--havent {
  background-image: url("../img/icon-no.svg");
}

.price-list__usd {
  font-weight: lighter;
}
