.radio-list.contest-form__wrapper {
  margin-top: -3px;
  margin-bottom: 27px;
  background-color: $lightgray;

  @media (min-width: $tablet-width) {
    background-color: $white;
    margin: -104px 0 0;
    padding: 53px 10px 0;
    z-index: -1;
  }
}

.radio-list__label {
  position: relative;
  margin-top: -6px;
  padding: 0 0 52px 68px;
  font-size: 18px;
  line-height: 30px;
  color: $darkblue;

  @media (min-width: $tablet-width) {
    width: 100%;
    text-align: left;
    margin-left: 50px;
    padding: 9px 0 43px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 0 40px 77px;
  }

  &:last-child {
    padding-bottom: 46px;

    @media (min-width: $tablet-width) {
      padding-bottom: 56px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 59px;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 35px;
    height: 35px;
    top: -4px;
    left: 0;
    background-color: $white;
    border: 2px solid $ligtergray;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 5px;
      left: -3px;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
      left: 20px;
    }
  }

  &::after {
    display: none;
    width: 15px;
    height: 15px;
    top: 8px;
    left: 12px;
    background-color: $rose;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 18px;
      left: 9px;
    }

    @media (min-width: $desktop-width) {
      top: 21px;
      left: 32px;
    }
  }
}

.radio-list__input:hover + .radio-list__label::before,
.radio-list__input:focus + .radio-list__label::before {
  border-color: $darkblue;
}

.radio-list__input:active + .radio-list__label::before {
  border-color: $rose;
}

.radio-list__input {
  display: none;
}

.radio-list__input:checked + .radio-list__label::after {
  display: block;
}
