.reviews {
  position: relative;
  margin: -65px 0 0;
  margin-bottom: 80px;
  background-color: $white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 1.667;
  }

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 40px;
    background: transparent url("../img/bg-triangle-white.svg") no-repeat;
    background-size: contain;
    bottom: -40px;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 55px;
      bottom: -55px;
      left: -5px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      height: 100px;
      bottom: -100px;
      left: -5px;
    }
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 45px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 0;
  }
}

.reviews__item {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 280px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 620px;/*!!!!!!!!!!!!!!!!!!!!*/
  }

  @media (min-width: $desktop-width) {
    min-width: 960px;/*!!!!!!!!!!!!!!!!!!!!*/
    padding: 125px 100px 25px;
    margin: 0 100px;
    box-sizing: border-box;
  }
}

.reviews__item .caption {
  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    font-size: 24px;
    line-height: 1.25;
  }
}

.reviews__blockquote {
  margin: 15px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 15px 0 35px;
    order: 1;
  }
}

.reviews__quote {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__about-author {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    font-size: 14px;
    line-height: 1.5;
    order: 3;
    margin: 5px 0 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__toggles {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
