.social__item {
  width: 52px;
  height: 51px;
  border: 2px solid #e9ebec;
  border-radius: 50%;
}

.social__item--twitter {
  background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
}

.social__item--facebook {
  background: url("../img/icon-facebook.svg") no-repeat 50% 50%;
}

.social__item--youtube {
  background: url("../img/icon-youtube.svg") no-repeat 50% 50%;
}
